{block content}
{snippet calendar}
	<div class="calendar">
		<div id="calendar-panel">
			<div class="fc-toolbar">
				<h2>Statistiky</h2>
			</div>
			<div class="body">
				<div class="item">Celkem najeto: 546545 Km</div>
				<div class="item">Tento měsíc:  454 Km</div>
				<div class="item">Služební jízdy: 400 Km</div>
				<div class="item">Soukromé jízdy: 54 Km</div>
			</div>
			</br>
			<div><div class="box" style="background-color: #f0ad4e ;"></div><span>Služební jízda</span></div>
            <div><div class="box" style="background-color: #3a87ad ;"></div>Soukromá jízda</div>

		</div>
		<div id="drive-calendar"></div>
	</div>
{/snippet}
{/block}

{block scripts}
{include parent}
<script>
	$(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#drive-calendar').fullCalendar({
            header: {
            	right:  'today prev,next prevYear,nextYear'
            	},
            lang: 'cs',
            aspectRatio: 1.75,
            events: {!$items},

            // theme: true
        })

    });
</script>
{/block}