{block content}
    {if $id == null}
        <h1>Přidat uživatele</h1>
    {else}
        <h1>Nastavení účtu</h1>
    {/if}

    <div class="form-center w800">
        {form uzivatelForm}
            <div class="row form-group">
                <div class="col-lg-2">
                    {label username /}
                </div>
                <div class="col-lg-10">
                    {input username}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label jmeno /}
                </div>
                <div class="col-lg-10">
                    {input jmeno}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label prijmeni /}
                </div>
                <div class="col-lg-10">
                    {input prijmeni}
                </div>
            </div>

            {if $id==null}
            <div class="row form-group">
                <div class="col-lg-2">
                    {label role /}
                </div>
                <div class="col-lg-10">
                    {input role}
                </div>
            </div>
            {/if}

            <div class="row form-group">
                <div class="col-lg-2">
                    {label password /}
                </div>
                <div class="col-lg-10">
                    {input password}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-2">
                    {label confirm_password /}
                </div>
                <div class="col-lg-10">
                    {input confirm_password}
                </div>
            </div>

            <script n:if="$form->hasErrors()" n:foreach="$form->errors as $error">
                alert({$error});
            </script>

            <div class="row col-lg-2">
                {input save}
            </div>
        {/form}
	</div>
{/block}
{block scripts2}
    <script>
        jQuery(document).ready(function() {
                $('#rodne_cislo').mask("000000/0000",{l}placeholder:"------/----"{r});
            });
    </script>
{/block}