{block content}
    {snippet table}
        <div id="table_pagination">
            <table class="admin_pages">
                <thead>
                    <tr class="row header">
                        <th class="col-sm-1">#</th>
                        <th class="col-sm-3">Login</th>
                        <th class="col-sm-2">Jméno</th>
                        <th class="col-sm-3">Přijmení</th>
                        <th class="col-sm-2">Role</th>
                        <th class="col-sm-1">&nbsp</th>
                    </tr>
                </thead>

                <tbody>
                    <tr n:foreach="$uzivatele as $u" class="row {if $iterator->isOdd()}odd{else}even{/if}{if $iterator->isLast()} last{/if}">
                        <td class="col-sm-1">{$u->getId()}</td>
                        <td class="col-sm-1">{$u->getUsername()}</td>
                        <td class="col-sm-1">{$u->getJmeno()}</td>
                        <td class="col-sm-1">{$u->getPrijmeni()}</td>
                        <td class="col-sm-1">{if $u->getRole() == admin}admin{else} uzivatel{/if}</td>
                        <td class="col-sm-1 icons">
                            <ul class="icons">
                                {if $user->isInRole(0)}
                                    <a n:href="Uzivatel:edit $u->getId()">
                                        <li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Editovat">
                                            <span class="ui-icon ui-icon-pencil"></span>
                                        </li>
                                    </a>
                                    <a n:href="smazUzivatel! $u->getId()">
                                        <li class="ui-state-default ui-corner-all" onmouseover="jQueryUiHover(this)" onmouseout="jQueryUiHover(this)" title="Smazat">
                                            <span class="ui-icon ui-icon-trash"></span>
                                        </li>
                                    </a>
                                {/if}
                            </ul>
                        </td>
                    </tr>
                </tbody>

            </table><!-- panel-body -->

                <nav class="pull-right">
                    <ul class="pagination">
                        <li>
                            <a {if !$paginator->first} href="{link Uzivatel:default page=>($paginator->getPage()-1)}" {/if} aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {var $page = 1}
                        <li n:while="$page <= $paginator->getPageCount()" {if $page == $paginator->getPage()}class="active"{/if}>
                            <a n:href="Uzivatel:default page=>$page">{$page++}</a>
                        </li>
                        <li>
                            <a {if !$paginator->last} href="{link Uzivatel:default page=>($paginator->getPage()+1)}"{/if} aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
    {/snippet}
